@use '../../assets/abstracts';

:host {
    height: 50px;

    nav {
        font-family: abstracts.$generic-header-font;
        height: 100%;
        background-color: abstracts.$light-salmon;
        user-select: none;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0 50px;

            li {
                float: left;

                &.nav-right {
                    float: right;
                }

                a {
                    font-size: 20px;
                    display: block;
                    padding: 10px 10px;
                    color: abstracts.$black;
                    cursor: pointer;

                    i {
                        padding-top: 4px;
                    }
                }
            }
        }
    }
}

