@use '../../../assets/abstracts';

:host {
    h3 {
        padding: 0 10px;
        color: abstracts.$rusty-brown;
    }

    .search-list {
        display: flex;
        gap: 10px;
        margin: 10px;
    }

    .input-demo {
        display: flex;
        align-items: center;

        .input {
            width: 250px;
            margin: 10px;
        }
    }
}

rrs-star-rating {
    display: flex;
    align-items: center;
}
