<div class="recipes-list-container">
    <h1>Latest Recipes</h1>
    <div class="recipes-list">
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu2.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu4.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu5.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu6.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu7.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu16.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu18.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu41.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu42.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu44.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu122.jpg"/>
        <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu144.jpg"/>
    </div>
</div>
