<div class="recipes-list-container">
    <h1>Latest Recipes</h1>
    <div class="recipes-list">
        @for (recipe of recipesList; track recipe.id) {
            <div class="recipe" (click)="navigateToRecipeDetails(recipe.id)">
                <div class="image">
                    <img src='{{ recipe.imageUrl }}' alt="{{recipe.name}}"/>
                </div>
                <div class="title">
                    {{ recipe.name }}
                </div>
            </div>
        }
    </div>
</div>
<div style="height: 1px;" (infiniteScroll)="loadRecipes()"></div>

@if (loading) {
    <div class="loading-container">
        <div class="loading-content">
            <i class="material-icons loading-animation">sync</i>
            <div class="loading-text">Loading...</div>
        </div>
    </div>
}
