@use '../../../assets/abstracts';

:host {
    input {
        width: 350px;
        border-radius: abstracts.$global-border-radius;
        outline: none;
        border: none;
    }

    .search-container {
        display: flex;
        padding: 10px 0;
        border-radius: abstracts.$global-border-radius;
        border: abstracts.$global-border;
        min-width: 200px;
        position: relative;

        .icon {
            display: flex;
            align-items: center;
            padding: 0 10px;

            &.clear {
                position: absolute;
                padding: 0;
                cursor: pointer;
                right: 10px;
            }
        }

        .search-input {
            padding-right: 40px;
        }
    }

    .search-content {
        position: absolute;
        top: 46px;
        width: 100%;
        max-height: 250px;
        overflow: auto;
        border-radius: abstracts.$global-border-radius;
        border: abstracts.$global-border;
        background-color: abstracts.$white;
        z-index: 1;

        .option-item {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px 5px;
            cursor: pointer;

            &.no-result {
                cursor: default;
                pointer-events: none;
            }

            &:hover:not(.no-result) {
                background: abstracts.$light-salmon;
                color: abstracts.$white;
            }
        }
    }
}
