<section class="search-container">
    <input #inputElement placeholder="{{placeholder}}" (input)="onSearchValueChanged($event)"
           (keydown)="onKeydown($event)"
           (blur)="showOptions = false"
           (focus)="showOptions = true"/>
    @if (showOptions) {
        <div class="search-content">
            @if (filteredOptions.length > 0) {
                @for (item of filteredOptions; track item) {
                    <div class="option-item" (mousedown)="onSelectItem(item)">
                        {{ item }}
                    </div>
                }
            } @else {
                <div>No results</div>
            }
        </div>
    }
</section>
