<div class="container">
    <div class="details">
        <div class="details-name">
            @if (isRecipeBookmarked()) {
                <i class="material-icons" (click)="bookmarkRecipe()">bookmark</i>
            } @else {
                <i class="material-icons" (click)="bookmarkRecipe()">bookmark_border</i>
            }
            <h1>{{ recipe.name }}</h1>
        </div>
        <div class="details-rating">
            <rrs-star-rating [rating]="recipe.rating"/>
        </div>
    </div>
    <div class="description">
        <p>{{ recipe.description }}</p>
        <div class="recipe-image">
            <img [src]="recipe.imageUrl">
        </div>
        <div class="cooking-time">
            <ul>
                <li>
                    <span>PREP TIME</span>
                    <span>{{ recipe.prepTime }}</span>
                </li>
                <li>
                    <span>COOK TIME</span>
                    <span>{{ recipe.cookTime }}</span>
                </li>
                <li>
                    <span>SERVINGS</span>
                    <span>{{ recipe.servings }}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cooking-process">
        <div class="ingredients">
            <h2>Ingredients</h2>
            <div class="ingredients-list">
                @for (ingredient of recipe.ingredients; track ingredient) {
                    <div>
                        <h4>{{ ingredient.category }}</h4>
                        @for (item of ingredient.items; track item) {
                            <label class="ingredient">{{ item.name }}
                                {{ item.quantity }}
                                {{ item.unitOfMeasurement }}
                                <input type="checkbox">
                                <span class="checkmark"></span>
                            </label>
                        }
                    </div>
                }
            </div>

            <h2>Nutrition Facts</h2>
            <ul class="nutrition">
                @for (nutritionFact of recipe.nutritionFacts; track nutritionFact) {
                    <li>
                        <span>{{ nutritionFact.name }}</span>
                        <span>{{ nutritionFact.value }}</span>
                    </li>
                }
            </ul>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <ul class="instructions-list">
                @for (instruction of recipe.instructions; track instruction; let step = $index) {
                    <li>
                        <span>{{ step + 1 }}</span>
                        {{ instruction }}
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
