<div class="container">
    <div class="details">
        <div class="details-name">
            <i class="material-icons material-icons-left">bookmark</i>
            <h1>Recipe Name</h1>
        </div>
        <div class="details-rating">
            <i class="material-icons material-icons-right">star</i>
            <i class="material-icons material-icons-right">star</i>
            <i class="material-icons material-icons-right">star</i>
            <i class="material-icons material-icons-right">star</i>
            <i class="material-icons material-icons-right">star</i>
        </div>
    </div>
    <div class="description">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing
            elit, sed do eiusmod tempor incididunt ut labore
            e dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut
            aliquip ex ea commodo consequat. Duis aute irure
            dolor in reprehenderit in voluptate velit esse
            cillum doloree fugiat nulla pariatur. Excepteur
            sint occaecat cupidatat non proident, sunt in
            culpa qui officia deserunt mollit anim id est laborum.</p>
        <div class="recipe-image">
            <img src="https://fabrx.co/preview/tastebite/assets/images/menus/menu144.jpg" >
        </div>
        <div class="cooking-time">
            <ul>
                <li>
                    <span>PREP TIME</span>
                    <span>15 MIN</span>
                </li>
                <li>
                    <span>COOK TIME</span>
                    <span>30 MIN</span>
                </li>
                <li>
                    <span>SERVINGS</span>
                    <span>2 PEOPLE</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="cooking-process">
        <div class="ingredients">
            <h2>Ingredients</h2>
            <div class="ingredients-list">
                <h4>For dough</h4>
                <label class="ingredient">100g ingredient
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="ingredient">100g ingredient
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="ingredient">100g ingredient
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                </label>
                <label class="ingredient">100g ingredient
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>

                <h4>For filling</h4>
                <label class="ingredient">100g ingredient
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="ingredient">100g ingredient
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <label class="ingredient">100g ingredient
                    <input type="checkbox" checked>
                    <span class="checkmark"></span>
                </label>
                <label class="ingredient">100g ingredient
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
            </div>

            <h2>Nutrition Facts</h2>
            <ul>
                <li>
                    <span>Calories</span>
                    <span>200</span>
                </li>
                <li>
                    <span>Calories</span>
                    <span>7.7g</span>
                </li>
                <li>
                    <span>Calories</span>
                    <span>10g</span>
                </li>
                <li>
                    <span>Calories</span>
                    <span>10g</span>
                </li>
            </ul>
        </div>
        <div class="instructions">
            <h2>Instructions</h2>
            <ul class="instructions-list">
                <li>
                    <span>1</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore
                </li>
                <li>
                    <span>2</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore e dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut iquip ex ea commodo consequat.
                </li>
                <li>
                    <span>3</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore
                </li>
                <li>
                    <span>4</span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore e dolore magna
                    aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                    ullamco laboris nisi ut iquip ex ea commodo consequat.
                </li>
            </ul>
        </div>
    </div>
</div>
