@if (reviewMode) {
    <h2>Rate this recipe!</h2>
}

@for (star of stars; track star) {
    <i  #starsList class="material-icons"
        (click)="saveRating($index+1)"
        id="{{$index}}"
        [ngClass]="{'reviewMode': reviewMode, 'selected': ($index < selectedStars && reviewMode)}"
        (mouseover)="addClass($index)"
        (mouseout)="removeClass($index)">{{ star }}</i>
}

@if (!reviewMode) {
    <p>({{ reviewCount }})</p>
}

@if(selectedStars > 0 || hoveredStars > 0) {
    <p>Your rating: {{ selectedStars > 0 ? selectedStars : hoveredStars }}
        {{ (selectedStars > 0 ? (selectedStars === 1 ? 'star' : 'stars') : (hoveredStars === 1 ? 'star' : 'stars')) }}</p>
}

@if (message) {
    <p>{{ message }}</p>
}
