@use '../../../assets/colors';
@use '../../../assets/globals';

input {
    border-radius: globals.$global-border-radius;
    border: globals.$global-border;
    width: 100%;
    height: 30px;
    padding: 5px;

    &:focus {
        outline: none;
    }
}
